.footer{
    max-width: 100%;
    background-color: aqua;
    margin-top: 2rem;
}

.footer .fconatiner{
    max-width: 90%;
    margin: auto;
}
.footer .fconatiner h3  span{
    color: red;
}
span{
    color: red;
}